<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.2.0
Version: 1.0.0
Purchase: http://wrapbootstrap.com
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <meta charset="utf-8" />
    <title>当日订单</title>

    <meta name="description" content="Dashboard" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="../../assets/img/favicon.png" type="image/x-icon">


    <!--Basic Styles-->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="../../assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../assets/css/weather-icons.min.css" rel="stylesheet" />

    <!--Fonts-->
    <!--<link href="http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">-->

    <!--Beyond styles-->
    <link href="../../assets/css/beyond.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/demo.min.css" rel="stylesheet" />
    <link href="../../assets/css/typicons.min.css" rel="stylesheet" />
    <link href="../../assets/css/animate.min.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="../../assets/js/skins.min.js"></script>
    <style>
        .navbar.bottomSlider{height: 45px!important;width: 100%;position: fixed;z-index: 99999;top:0px;}
        .navbar .sidebar-collapse{left: auto;right: 5px;}
        .back{font-size: 40px;padding-left: 10px;width: 60px;}
        .navbar .sidebar-collapse:hover{-webkit-box-shadow:none;box-shadow:none}
        .widget{margin: 3px 0 0px 0;}
        .widget,.widget-body{box-shadow: none}
        .submit{width: 100%}
        .navbar .sidebar-collapse{width: 100px;line-height: 45px;font-size: 18px;color: #ffffff;position: absolute;left: 50%;margin-left: -50px;}
        .tickets-container{padding: 10px}
        .ticket-type{border-bottom: 1px solid #eee;}
        .tickets-container .tickets-list .ticket-item .ticket-time{padding: 5px 10px;height:30px;line-height: 20px;}
        .type{position: relative;right: 10px;float: right}
        .type i{color: #F9EF24!important;}
        .content{padding: 5px 10px;}
        .ticket-type{height: auto!important;}
        .ticket-type p{margin: 0px;}
        .more{width: 100%;height: 40px;line-height: 40px;color: #606060;text-align: center;background: #f5f5f5}
        .main-container{margin-top: 50px;margin-bottom: 45px;}
        .choose{width: 100%;height: 45px;position: fixed;bottom: 0px;z-index: 2;background: #ffffff;border-top: #dedede 1px solid;line-height: 45px;text-align: center;color: #959595;font-size: 16px;}
        .choose .left{width: 50%;height: 45px;float: left;border-right: #dedede 1px solid}
        .choose .right{width: 50%;height: 45px;float: left;}
        .sliderMenu-person{width:50%;position: fixed;bottom: 45px;float: left;z-index: 7;background: #ffffff;}
        .sliderMenu-status{width:calc(50% + 1px);position: fixed;bottom: 45px;left:calc(50% - 1px);float: left;z-index: 7;background: #ffffff;}
        .menu{width: 100%;height: auto;display: none;border-top: #dedede 1px solid;border-top:0px;}
        .menu .col-xs-12{padding: 0px;height: 45px;line-height: 45px;color: #959595;text-align: center;font-size: 16px;border-bottom: #dedede 1px solid}
        .tickets-container .tickets-list .ticket-item .ticket-user{height: 40px;line-height: 30px;padding: 5px 10px;}
        .ticket-user .col-xs-8{color: #2dc3e8}
        .modal-dialog{position: absolute;top: 50%;margin-top: -175px;width:calc(100% - 20px);}
        .modal-content{height: 400px;}
        .modal-body{height:350px;overflow: scroll}
        .form-group label{color: #428bca}
        .lock{
            position: fixed;
            z-index: 1;
        }
        .fa-angle-right{font-size: 20px;margin-left: -5px}
        .form-group{margin-bottom: 10px;}
    </style>

</head>
<!-- /Head -->
<!-- Body -->
<body>
<!-- Loading Container -->
    <div class="loading-container">
        <div class="loading-progress">
            <div class="rotator">
                <div class="rotator">
                    <div class="rotator colored">
                        <div class="rotator">
                            <div class="rotator colored">
                                <div class="rotator colored"></div>
                                <div class="rotator"></div>
                            </div>
                            <div class="rotator colored"></div>
                        </div>
                        <div class="rotator"></div>
                    </div>
                    <div class="rotator"></div>
                </div>
                <div class="rotator"></div>
            </div>
            <div class="rotator"></div>
        </div>
    </div>
    <!--  /Loading Container -->
    <!-- Navbar -->
    <div class="navbar bottomSlider">
        <div class="navbar-inner">
            <div class="navbar-container">
                <div class="navbar-header pull-left">
                    <a href="../Index/index" class="navbar-brand">
                        <small>
                            <i class="fa fa-angle-left back"></i>
                        </small>
                    </a>
                </div>
                <!-- Sidebar Collapse -->
                <div class="sidebar-collapse" id="sign">当日订单</div>
                <!-- /Sidebar Collapse -->
            </div>
        </div>
    </div>
    <!-- /Navbar -->
    <!-- Main Container -->
    <div class="main-container container-fluid">
        <div class="choose">
            <div class="left" id="person">设计师</div>
            <div class="right" id="status">状态</div>
        </div>
        <!-- Page Container -->
        <div class="widget">
            <div class="widget-main no-padding">
                <div class="tickets-container">
                    <ul class="tickets-list">
                        <% for(var i=0; i<list.length; i++){%>
                        <li class="ticket-item">
                            <a href='javascript:void(0)'>
                                <div class="row">
                                    <div class="ticket-user col-xs-12 detail" orderId="<%= list[i].orderId%>" styPhone="<%= list[i].stylistMobile%>">
                                        <div class="col-xs-4">订单编号</div>
                                        <div class="col-xs-8 text-right"><%= list[i].orderNumb%></div>
                                        <i class="fa fa-angle-right"></i>
                                    </div>
                                    <div class="ticket-user col-xs-12">
                                        <div class="col-xs-4">设计师</div>
                                        <div class="col-xs-8 text-right"><%= list[i].stylistName%></div>
                                    </div>
                                    <div class="ticket-user col-xs-12">
                                        <div class="col-xs-4">订单用户</div>
                                        <div class="col-xs-8 text-right"><%= list[i].userName%></div>
                                    </div>
                                    <div class="ticket-user col-xs-12">
                                        <div class="col-xs-4">订单金额</div>
                                        <div class="col-xs-8 text-right"><%= list[i].money%></div>
                                    </div>
                                    <div class="ticket-user col-xs-12">
                                        <div class="col-xs-4">预约时间</div>
                                        <div class="col-xs-8 text-right"><%= list[i].appointTimes%></div>
                                    </div>
                                    <div class="ticket-user col-xs-12">
                                        <div class="col-xs-4">状态</div>
                                        <div class="col-xs-8 text-right">
                                            <% if(list[i].status == 1){%>
                                                待支付
                                            <%}else if(list[i].status == 2){%>
                                                支付处理
                                            <%}else if(list[i].status == 3){%>
                                                支付成功
                                            <%}else if(list[i].status == 4){%>
                                                预约成功
                                            <%}else if(list[i].status == 5){%>
                                                订单执行
                                            <%}else if(list[i].status == 6){%>
                                                订单完成
                                            <%}else if(list[i].status == 7){%>
                                                退款
                                            <%}else if(list[i].status == 8){%>
                                                订单关闭（作废）
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <%}%>
                    </ul>
                </div>
            </div>
        </div>
        <% if(list.length == 10){%>
        <div class="more" page="<%=page%>">
            点击加载更多
        </div>
        <%}%>
    </div>

    <!--Basic Scripts-->
    <script src="../../assets/js/jquery-2.0.3.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>

    <!--Beyond Scripts-->
    <script src="../../assets/js/beyond.min.js"></script>
<script>
    var offsetTop = 0;
    function commit(){
        $(".ticket-item .detail").click(function(){
            var  param = {orderId : $(this).attr('orderId'),styPhone: $(this).attr('styPhone')};
            $(".loading-container").css('display','block');
            $(".loading-progress").css('display','block');
            $.post('/Order/detail',param, function (data) {
                $("#edit .code div").html(data.orderNumb);
                $("#edit .time div").html(data.orderDate);
                $("#edit .sty div").html(data.stylistName);
                $("#edit .user div").html(data.userName);
                $("#edit .money div").html(data.money);
                $("#edit .rmoney div").html(data.realMoney);
                $("#edit .yytime div").html(data.appointTimes);
                if(data.couponId == 0){
                    $("#edit .youhui div").html('无');
                }else{
                    $("#edit .youhui div").html(data.coupon.couponName);
                }
                if(data.status == 1){
                    $("#edit .status div").html('待支付');
                }else if(data.status == 2){
                    $("#edit .status div").html('支付处理');
                }else if(data.status == 3){
                    $("#edit .status div").html('支付成功');
                }else if(data.status == 4){
                    $("#edit .status div").html('预约成功');
                }else if(data.status == 5){
                    $("#edit .status div").html('订单执行');
                }else if(data.status == 6){
                    $("#edit .status div").html('订单完成');
                }else if(data.status == 7) {
                    $("#edit .status div").html('退款');
                }else if(data.status == 8){
                    $("#edit .status div").html('订单关闭（作废）');
                }
                $("#edit .product div").remove();
                for(var i=0; i<data.bookProducts.length; i++){
                    $("#edit .product").append('<div class="item-product">'+data.bookProducts[i].productName+'('+data.bookProducts[i].price+')</div>');
                }
                $(".loading-container").css('display','none');
                $(".loading-progress").css('display','none');
                $("#edit").modal();
                $('.container-fluid').css('top','-'+window.pageYOffset+'px');
                offsetTop = window.pageYOffset;
                $('.container-fluid').addClass('lock');
                $("#edit .close").unbind();
                $("#edit .close").click(function(){
                    $('.container-fluid').removeClass('lock');
                    $('body').scrollTop(offsetTop);
                    offsetTop = 0;
                    $("#edit").modal('hide');
                })
            })
        })
    }
    $(function(){
        commit();
        var status = "<%= status%>";
        if(status == '0'){
            $('#status').html($('#status').html()+'<i class="fa fa-angle-up margin-left-10"></i>')
        }else{
            $('#status').html($(".sliderMenu-status .col-xs-12[id-status='"+status+"']").html()+'<i class="fa fa-angle-up margin-left-10"></i>')
        }
        $("#status").click(function(){
            if($("#menu-status").css('display') == 'none'){
                $("#menu-status").slideDown();
                $(".sliderMenu-status").css({'border-top':'1px #dedede solid','border-left':'1px #dedede solid'});
            }else if($("#menu-status").css('display') == 'block'){
                $("#menu-status").slideUp();
            }
        })
        var person = "<%= stylistId%>";
        if(person == '0'){
            $('#person').html($('#person').html()+'<i class="fa fa-angle-up margin-left-10"></i>')
        }else{
            $('#person').html($(".sliderMenu-person .col-xs-12[id-person='"+person+"']").html()+'<i class="fa fa-angle-up margin-left-10"></i>');
        }
        $("#person").click(function(){
            if($("#menu-person").css('display') == 'none'){
                $("#menu-person").slideDown();
                $(".sliderMenu-person").css({'border-top':'1px #dedede solid','border-right':'1px #dedede solid'});
            }else if($("#menu-person").css('display') == 'block'){
                $("#menu-person").slideUp();
            }
        })
        $(".sliderMenu-status .col-xs-12").click(function(){
            if(!person){
                window.location.href = "../Order/index?status="+$(this).attr('id-status')
            }else{
                window.location.href = "../Order/index?status="+$(this).attr('id-status')+'&stylistId='+person;
            }
        })
        $(".sliderMenu-person .col-xs-12").click(function(){
            if(!status){
                window.location.href = "../Order/index?stylistId="+$(this).attr('id-person')
            }else{
                window.location.href = "../Order/index?stylistId="+$(this).attr('id-person')+'&status='+status;
            }
        })
        $('.more').click(function(){
            var  param = {page : parseInt($(this).attr('page'))+1,stylistId:person,status:status};
            $(".loading-container").css('display','block');
            $(".loading-progress").css('display','block');
            $.post('/Order/ajaxindex',param, function (data) {
                var li = '';
                for(var i=0; i< data.list.length; i++){
                    li = li + '<li class="ticket-item"><a href="javascript:void(0)"><div class="row"><div class="ticket-user col-xs-12 detail" orderId="'+data.list[i].orderId+'" styPhone="'+data.list[i].stylistMobile+'">'+
                            '<div class="col-xs-4">订单编号</div><div class="col-xs-8 text-right">'+data.list[i].orderNumb+'</div><i class="fa fa-angle-right"></i>'+
                            '</div><div class="ticket-user col-xs-12"><div class="col-xs-4">设计师</div><div class="col-xs-8 text-right">'+data.list[i].stylistName+'</div>'+
                            '</div><div class="ticket-user col-xs-12"><div class="col-xs-4">订单用户</div><div class="col-xs-8 text-right">'+ data.list[i].userName+'</div>'+
                            '</div><div class="ticket-user col-xs-12"><div class="col-xs-4">订单金额</div><div class="col-xs-8 text-right">'+data.list[i].money+'</div>'+
                            '</div><div class="ticket-user col-xs-12"><div class="col-xs-4">预约时间</div><div class="col-xs-8 text-right">'+ data.list[i].appointTimes+'</div>'+
                            '</div><div class="ticket-user col-xs-12"><div class="col-xs-4">状态</div><div class="col-xs-8 text-right">';
                            if(data.list[i].status == 1){
                                li = li + '待支付';
                            }else if(data.list[i].status == 2){
                                li = li + '支付处理';
                            }else if(data.list[i].status == 3){
                                li = li + '支付成功';
                            }else if(data.list[i].status == 4) {
                                li = li + '预约成功';
                            }else if(data.list[i].status == 5){
                                li = li + '订单执行';
                            }else if(data.list[i].status == 6){
                                li = li + '订单完成';
                            }else if(data.list[i].status == 7) {
                                li = li + '退款';
                            }else if(data.list[i].status == 8){
                                li = li + '订单关闭（作废）';
                            }
                    li = li + '</div></div></div></a></li>';
                }
                if(data.list.length > 0){
                    $('.more').attr('page',parseInt($('.more').attr('page'))+1);
                }
                $('.tickets-list').append(li);
                $(".loading-container").css('display','none');
                $(".loading-progress").css('display','none');
            });
            commit();
        })

    })
</script>
<div class="sliderMenu-person">
    <div id="menu-person" class="menu">
        <% for(var j=0; j<stylist.length; j++){%>
            <div class="col-xs-12" id-person="<%= stylist[j].id%>"><%= stylist[j].name%></div>
        <%}%>
        <div class="col-xs-12" id-person="0">全部</div>
    </div>
</div>
<div class="sliderMenu-status">
    <div id="menu-status" class="menu">
        <div class="col-xs-12" id-status="1">待支付</div>
        <div class="col-xs-12" id-status="2">支付处理</div>
        <div class="col-xs-12" id-status="3">支付成功</div>
        <div class="col-xs-12" id-status="4">预约成功</div>
        <div class="col-xs-12" id-status="5">订单执行</div>
        <div class="col-xs-12" id-status="6">订单完成</div>
        <div class="col-xs-12" id-status="7">退款</div>
        <div class="col-xs-12" id-status="8">订单关闭（作废）</div>
        <div class="col-xs-12" id-status="0">全部</div>
    </div>
</div>
<div id="edit" class="modal modal-darkorange">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true">×</button>
                <h4 class="modal-title">订单详情</h4>
            </div>
            <div class="modal-body">
                <div class="widget">
                    <div class="widget-body">
                        <div>
                            <div class="form-group code">
                                <label>订单编号</label>
                                <div class="item-user"></div>
                            </div>
                            <div class="form-group time">
                                <label>订单日期</label>
                                <div class="item-time"></div>
                            </div>
                            <div class="form-group sty">
                                <label>设计师</label>
                                <div class="item-time"></div>
                            </div>
                            <div class="form-group user">
                                <label>订单用户</label>
                                <div class="item-store"></div>
                            </div>
                            <div class="form-group money">
                                <label>订单金额</label>
                                <div class="item-store"></div>
                            </div>
                            <div class="form-group rmoney">
                                <label>实收金额</label>
                                <div class="item-store"></div>
                            </div>
                            <div class="form-group youhui">
                                <label>优惠信息</label>
                                <div class="item-store"></div>
                            </div>
                            <div class="form-group yytime">
                                <label>预约时间</label>
                                <div class="item-store"></div>
                            </div>
                            <div class="form-group status">
                                <label>状态</label>
                                <div class="item-store"></div>
                            </div>
                            <div class="form-group product">
                                <label>产品信息</label>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>
<!--  /Body -->
</html>
