<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.2.0
Version: 1.0.0
Purchase: http://wrapbootstrap.com
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <meta charset="utf-8" />
    <title>产品列表</title>

    <meta name="description" content="Dashboard" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="../../assets/img/favicon.png" type="image/x-icon">


    <!--Basic Styles-->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="../../assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../assets/css/weather-icons.min.css" rel="stylesheet" />

    <!--Fonts-->
    <!--<link href="http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">-->

    <!--Beyond styles-->
    <link href="../../assets/css/beyond.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/demo.min.css" rel="stylesheet" />
    <link href="../../assets/css/typicons.min.css" rel="stylesheet" />
    <link href="../../assets/css/animate.min.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="../../assets/js/skins.min.js"></script>
    <style>
        .main-container{margin-top: 45px;margin-bottom: 40px;}
        .navbar.bottomSlider{height: 45px!important;width: 100%;position: fixed;z-index: 99999;top:0px;}
        .navbar .sidebar-collapse{left: auto;right: 5px;}
        .back{font-size: 40px;padding-left: 10px;width: 60px;}
        .navbar .sidebar-collapse:hover{-webkit-box-shadow:none;box-shadow:none}
        .navbar .sidebar-collapse{width: 100px;line-height: 45px;font-size: 18px;color: #ffffff;position: absolute;left: 50%;margin-left: -50px;}
        .row{margin: 0px;}
        .orders-container .orders-list .order-item{padding: 0px;}
        .orders-container .orders-list .order-item .item-left{width: 50%;float: left;text-align: left}
        .orders-container .orders-list .order-item .item-left .item-booker{margin: 15px auto}
        .orders-container .orders-list .order-item .item-right{width: 50%;float: left;text-align: right}
        .orders-container .orders-list .order-item .item-right .item-price{margin: 15px auto}
        .col-xs-3,.col-xs-4,.col-xs-2{height: 50px;line-height: 50px;padding: 0px;font-size: 16px;}
        .col-xs-2{padding-left: 20px;}
        .col-xs-3,.col-xs-4{padding-right: 20px;}
        .col-xs-3.right,.col-xs-4.right{padding-right: 0px;}
        .save{width: 100%;height: 40px;color: #ffffff;position: fixed;z-index: 99999;bottom: 0px;background: #2dc3e8;font-size: 16px;}
        .title{width: 100%;height: 40px;line-height: 40px;padding-left: 20px;background: #eee;font-size: 18px;}
    </style>

</head>
<!-- /Head -->
<!-- Body -->
<body>
<!-- Loading Container -->
<div class="loading-container">
    <div class="loading-progress">
        <div class="rotator">
            <div class="rotator">
                <div class="rotator colored">
                    <div class="rotator">
                        <div class="rotator colored">
                            <div class="rotator colored"></div>
                            <div class="rotator"></div>
                        </div>
                        <div class="rotator colored"></div>
                    </div>
                    <div class="rotator"></div>
                </div>
                <div class="rotator"></div>
            </div>
            <div class="rotator"></div>
        </div>
        <div class="rotator"></div>
    </div>
</div>
<!--  /Loading Container -->
    <!-- Navbar -->
    <div class="navbar bottomSlider">
        <div class="navbar-inner">
            <div class="navbar-container">
                <div class="navbar-header pull-left">
                    <a href="../Add/index" class="navbar-brand">
                        <small>
                            <i class="fa fa-angle-left back"></i>
                        </small>
                    </a>
                </div>
                <!-- Sidebar Collapse -->
                <div class="sidebar-collapse" id="sign">产品列表</div>
                <!-- /Sidebar Collapse -->
            </div>
        </div>
    </div>
    <!-- /Navbar -->
    <!-- Main Container -->
    <div class="main-container container-fluid">
        <div class="orders-container">
            <% if(baseProducts && baseProducts.length > 0){%>
            <div class="title">
                基础产品
            </div>
            <ul class="orders-list">
                <% for(var i=0; i<baseProducts.length; i++){%>
                <li class="order-item">
                    <a href="javascript:void(0)">
                        <div class="row">
                            <div class="col-xs-2">
                                <label>
                                    <input type="checkbox" pid="<%= baseProducts[i].productId%>">
                                    <span class="text"></span>
                                </label>
                            </div>

                            <div class="col-xs-3 right text-right" name="ptype">
                                <% if(baseProducts[i].productType == 1){%>
                                烫发
                                <%}else if(baseProducts[i].productType == 2){%>
                                染发
                                <%}else if(baseProducts[i].productType == 3){%>
                                护理
                                <%}else if(baseProducts[i].productType == 4){%>
                                养发
                                <%}else if(baseProducts[i].productType == 5){%>
                                洗剪吹
                                <%}else if(baseProducts[i].productType == 6){%>
                                洗吹
                                <%}%>
                            </div>
                            <div class="col-xs-4 right text-right" name="pname"><%= baseProducts[i].productName%></div>
                            <div class="col-xs-3 text-right" name="price"><%= baseProducts[i].price%></div>
                        </div>
                    </a>
                </li>
                <%}%>
            </ul>
            <%}%>
            <% if(otherProducts && otherProducts.length > 0){%>
            <div class="title">
                高端产品
            </div>
            <ul class="orders-list">
                <% for(var i=0; i<otherProducts.length; i++){%>
                <li class="order-item">
                    <a href="javascript:void(0)">
                        <div class="row">
                            <div class="col-xs-2">
                                <label>
                                    <input type="checkbox" pid="<%= otherProducts[i].productId%>" ptype="<%= otherProducts[i].productType%>" >
                                    <span class="text"></span>
                                </label>
                            </div>
                            <div class="col-xs-3 right text-right" name="ptype">
                                <% if(otherProducts[i].productType == 1){%>
                                    <% if(otherProducts[i].productClas == 11){%>
                                            烫发(整体)
                                    <%}else if(otherProducts[i].productClas == 12){%>
                                            烫发(局部)
                                <%}}else if(otherProducts[i].productType == 2){%>
                                    <% if(otherProducts[i].productClas == 21){%>
                                        染发(长)
                                    <%}else if(otherProducts[i].productClas == 22){%>
                                        染发(中)
                                    <%}else if(otherProducts[i].productClas == 23){%>
                                        染发(短)
                                <%}}else if(otherProducts[i].productType == 3){%>
                                护理
                                <%}else if(otherProducts[i].productType == 4){%>
                                养发
                                <%}else if(otherProducts[i].productType == 5){%>
                                洗剪吹
                                <%}else if(otherProducts[i].productType == 6){%>
                                洗吹
                                <%}%>
                            </div>
                            <div class="col-xs-4 right text-right" name="pname"><%= otherProducts[i].productName%></div>
                            <div class="col-xs-3 text-right" name="price"><%= otherProducts[i].price%></div>
                        </div>
                    </a>
                </li>
                <%}%>
            </ul>
        </div>
        <%}%>
        <button class="save">保 存</button>
    </div>

    <!--Basic Scripts-->
    <script src="../../assets/js/jquery-2.0.3.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>

    <!--Beyond Scripts-->
    <script src="../../assets/js/beyond.min.js"></script>
    <script>
        var mobile = "<%= mobile%>"
        $(function(){
           $('.save').click(function(){
               var checkList = '';
               $("input[type='checkbox']").each(function(){
                   if($(this)[0].checked){
                       checkList =  checkList + $(this).attr('pid')+','+$(this).parent().parent().siblings('div[name="pname"]').html()+','+$(this).parent().parent().siblings('div[name="price"]').html()+','+$(this).parent().parent().siblings('div[name="ptype"]').html()+';';
                   }
               })
               var product = checkList.replace(/\ +/g,"")
               product = product.replace(/[\r\n]/g,"")
               window.location.href = '../Add/index?mobile='+mobile+'&product='+encodeURIComponent(product);
           })
        })
    </script>
</body>
<!--  /Body -->
</html>
